<div class="card" style="width: 18rem;">
  <img [src]="profile.mainPhotoUrl" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{profile.name}}</h5>
    <p class="card-text">{{profile.biography}}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><b>Gender</b> {{profile.gender}}</li>
    <li class="list-group-item"><b>Private</b> {{profile.isPrivate}}</li>
    <li class="list-group-item"><b>Website</b> {{profile.webSite}}</li>
  </ul>
  <div class="card-body">
   
    <button class="btn btn-warning" (click)="editProfile()">Edit</button>
  </div>
</div>