<div class="card" style="width: 18rem;">
  <img src="https://thumbs.dreamstime.com/z/running-full-length-male-mannequin-isolated-no-brand-names-copyright-objects-running-male-mannequin-136193184.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Piotr Wójcik</h5>
    <p class="card-text">Test description</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><b>Gender</b> Men</li>
    <li class="list-group-item"><b>Private</b> Yes</li>
    <li class="list-group-item"><b>Website</b> sample.web</li>
  </ul>
  <div class="card-body">
   
    <button class="btn btn-warning">Edit</button>
  </div>
</div>